body {
    font-family: 'Roboto Mono',monospace;
    min-height: 500px;
    background-image: url('https://cdn-icons-png.flaticon.com/512/1312/1312332.png');
    background-color: #00BFFF;
    background-size: 70vh;
    background-position: center bottom;
    background-repeat: no-repeat;
  }
  
  .container {
    text-align: center;
    padding: 30px;
    height: 100vh;
  }
  
  .page-title {
    color:#ffffff;
    margin: 0 5px;
  }
  
  .page-subtitle {
    color:#ffffff;
    margin-top: 5px;
  }
  
  .page-logo {
    width: 200px;
  }
  
  .alura-logo {
    width: 40px;
    position: absolute;
    top: 10px;
    right: 10px;
  }

  form {
padding-top: 40px;
  }